<% @trails.each do |trail| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to trail["name"], trail_path(["trail"]) %></h1><br />
    <i><%= trail["location"] %></i><br />
    <p><%= trail["summary"] %></p><br />
  </div>
 
  <hr />
<% end %>
